
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.background-color{
    background-color: bisque;
    margin: 30px;
}
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

.btn-primary{
    background-color: goldenrod;
   font-weight: bold;
   color: white;
   padding: 18px 35px;
   border-radius: 5px;
   font-size: 20px;
   border: none;
}

nav ul{
    display: flex;
   align-items: center;
}

.text-primary{
    color: darkorange;
}

.dark-2{
    color: #474747;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li,a{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
}
.Banner-greedings{
    font-size: 45px;
    font-weight: 200;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.Banner-description{
    font-size: 18px;
    color: #757575;
}
.Banner-pp{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.section-title{
    color: black;
    font-size: 35px;
    width: bold;
}
.para{
    color: #757575;
    font-size: 18PX;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
}
.about-des{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
    
}

.center{
    text-align: center;
    margin: 50px auto;
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 35px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.065);
}
.margin-top{
    margin-top: 100px;
}