
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

.btn-primary{
    background-color: goldenrod;
   font-weight: bold;
   color: white;
   padding: 18px 35px;
   border-radius: 5px;
   font-size: 20px;
   border: none;
}

nav ul{
    display: flex;
   align-items: center;
}

.text-primary{
    color: darkorange;
}

.dark-2{
    color: #474747;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li,a{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
}
.Banner-greedings{
    font-size: 45px;
    font-weight: 200;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.Banner-description{
    font-size: 18px;
    color: #757575;
}
.Banner-pp{
    width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}